    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="keywords" content="{{ page._keywords }}">
    {% if page.title %}
    <meta property="og:title" content="{{ page._title }}">
    <meta property="og:site_name" content="{{ page._site_name }}">
    <meta property="og:updated_time" content="{{ page._date }}">
    <meta property="og:type" content="article">
    <meta name="description" content="{{ page._excerpt }}" />
    <meta property="og:description" content="{{ page._excerpt }}" />
    <meta property="og:image" content="http://llnm.github.io/images/logo.png">
    {% endif %}